<div id="menu">
  <span class="important-button"><%= link_to "New Order", root_url %></span>
  <span class="important-button"><%= link_to "Track Orders", tracking_path %></span>
  <span class="button"><%= link_to "Order History", orders_path %></span>
  <span class="button"><%= link_to "Suppliers", suppliers_path %></span>
  <span class="button"><%= link_to "Manufacturers", manufacturers_path %></span>
  <span class="button"><%= link_to "Printers", printer_models_path %></span>
  <span class="button"><%= link_to "Consumables", consumables_path %></span>
  <span class="button"><%= link_to "Departments", departments_path %></span>
  <span class="button"><%= link_to "Batches", batches_path %></span>
  <% if admin_signed_in? %>
    <div class="login-links">You are logged in as <%= current_admin.email %>: <%= link_to "Sign out", destroy_admin_session_path, :method => :delete %>.
    </div>
  <% end %>
</div>