<h1>Listing departments</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>

<% @departments.each do |department| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= department.name %></td>
    <td>
      <%= link_to 'Show', department %>
      <%= link_to 'Edit', edit_department_path(department) %>
      <%= link_to 'Destroy', department, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />
<p><%= will_paginate @printer_models %></p>
<%= link_to 'New Department', new_department_path %>
