<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2>Sorry, couldn't place your order. Please address the <%= pluralize(@order.errors.count, "field") %> below:</h2>
      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label :department_id %><br />
    <%= f.collection_select :department_id,  @departments, :id, :name, :prompt => "Please select your department" %>
  </div>
  <div class="field">
    <%= label_tag 'order_printer_models', "Printer Model" %><br />
    <%=f.collection_select :printer_models, @printers, :id, :full_name, :prompt => "Please select your printer..." %>
  </div>
  <div class="field">
    <%= f.label :consumable_id, "Required Consumable" %><br />
    <%= f.grouped_collection_select :consumable_id, @printers, :consumables, :full_name, :id, :grouped_description_with_stock, :prompt => "Please select a printer first." %>
  </div><br />
  <div class="actions">
    <%= f.submit "Place Order" %>
  </div>
<% end %>