<tr class="<%= cycle("even", "odd") %>" id="order-<%= order.id %>">
  <td><%= order.created_at.strftime('%H:%M:%S %d/%m/%Y') %></td>
  <td class="order-updated-at">
  <%= "#{order.updated_at.strftime('%H:%M:%S %d/%m/%Y')}" unless order.updated_at == order.created_at %>
  </td>
  <td><%= order.location %></td>
  <td><%= link_to order.consumable.full_name, order.consumable %></td>
  <td><%= number_to_currency order.price %></td>
  <td class="order-status <%= order.order_status %>"><%= order.order_status_text %></td>
  <td><%= link_to 'Edit', edit_order_path(order) %></td>
  <td><%= link_to 'Cancel', order, confirm: 'Are you sure?', method: :delete, :class => "cancel-link", remote: true unless ["DEL","DIS", "FOC"].include? order.order_status %></td>
</tr>