$("#order-<%= @order.id %>").removeClass("red-out green-out")
$("#order-<%= @order.id %>").addClass("grey-out")
$("#order-<%= @order.id %>").find('a.cancel-link').hide()
$("#order-<%= @order.id %>").find('td.order-status').text("Deleted")
$("#order-<%= @order.id %>").find('td.order-updated-at').text("<%= @order.updated_at.strftime('%H:%M:%S %d/%m/%Y') %>")