<%= render :partial => "shared/title" %>

<table class="table table-bordered">
  <tr>
    <th>Ordered</th>
    <th>Last Updated</th>
    <th>Location</th>
    <th>Requested Consumable</th>
    <th>Price</th>
    <th>Order status</th>
    <th colspan="2">Actions</th>
  </tr>

<%= render @orders %>

</table>

<br />
<p><%= will_paginate @orders %></p>