<!-- tracking action -->

<%= render :partial => "shared/title" %>

<% unless @pending.empty? %>
  <div class="pending_orders">
  <h2>Pending</h2>
  <table>
    <tr>
      <th>Location</th>
      <th>Printer(s)</th>
      <th>Consumable</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @pending.each do |order| %>
    <tr class="<%= cycle("even", "odd") %>">
      <td><%= order.location %></td>
      <td><%= order.printer_names %></td>
      <td><%= order.consumable_name(:with_type) %></td>
      <td><%= link_to 'Edit', edit_order_path(order) %></td>
      <td><%= link_to 'Dispatch', complete_order_path(order), method: :put %></td>
      <td><%= link_to 'Cancel', order, confirm: 'Are you sure?', method: :delete %></td>
      <td class="pending-time"><%= "#{time_ago_in_words(order.created_at).gsub('about', '~')} ago" %></td>
    </tr>
  <% end %>
  </table>
  </div>
<% else %>
<p>No orders pending</p>
<% end %>
<% unless @awaiting.empty? %>
  <div class="awaiting_orders">
    <h2>Awaiting Stock</h2>
  <table>
    <tr>
      <th>Location</th>
      <th>Printer(s)</th>
      <th>Consumable</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  <% @awaiting.each do |order| %>
    <tr class="<%= cycle("even", "odd") %>">
      <td><%= order.location %></td>
      <td><%= order.printer_names %></td>
      <td><%= order.consumable_name(:with_type) %></td>
      <td><%= link_to 'Edit', edit_order_path(order) %></td>
      <td><%= link_to 'Cancel', order, confirm: 'Are you sure?', method: :delete %></td>
      <td class="awaiting-time"><%= "#{time_ago_in_words(order.created_at).gsub('about', '~')} ago" %></td>
    </tr>
  <% end %>
  </table>
  </div>
<% else %>
<p>No orders awaiting stock</p>
<% end %>