<%= form_for(@printer_model) do |f| %>
  <% if @printer_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@printer_model.errors.count, "error") %> prohibited this printer_model from being saved:</h2>

      <ul>
      <% @printer_model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend>New Printer Model</legend>
     <div class="field">
      <%= f.label :manufacturer_id, "Manufacturer" %><br />
      <%= f.collection_select :manufacturer_id, @manufacturers, :id, :name, :prompt => "Please select..." %>
    </div>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= image_tag @printer_model.image.url %><br />
      <%= f.file_field :image %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>
