<%= render :partial => "shared/title" %>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Associated Consumables</th>
    <th colspan="2">Actions</th>
  </tr>

<% @printer_models.each do |printer_model| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= image_tag printer_model.image.url(:thumb) %></td>
    <td><%= printer_model.full_name %></td>
    <td><%= printer_model.consumable_count %></td>
    <td><%= link_to 'Edit', edit_printer_model_path(printer_model) %></td>
    <td><%= link_to 'Destroy', printer_model, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<p><%= will_paginate @printer_models %></p>
<%= link_to 'New Printer model', new_printer_model_path %>
