<div class="printer-show">
  <p>
    <b>Name:</b>
    <%= @printer_model.full_name %>
  </p>

  <div class="printer-image">
    <%= image_tag @printer_model.image.url(:medium) %>
  </div>
</div>


<%= link_to 'Edit', edit_printer_model_path(@printer_model) %> |
<%= link_to 'Back', printer_models_path %>
