<%= form_for(@batch) do |f| %>
  <% if @batch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@batch.errors.count, "error") %> prohibited this batch from being saved:</h2>

      <ul>
      <% @batch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :batch_date %><br />
    <%= f.date_select :batch_date, :order => [:day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.label :batch_id, "Batch ID, this should be a unique indentifier beginning with AE and should match the related order in FMS" %>
    <br />
    <%= f.text_field :batch_id %>
  </div>
  <div class="field">
    <%= f.label :supplier_ref, "If there is a supplier-specific reference for this batch of consumables enter it here." %>
    <br />
    <%= f.text_field :supplier_ref %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
