<%= render :partial => "shared/title" %>

<table>
  <tr>
    <th>FMS Reference (Supplier Reference)</th>
    <th>Batch date</th>
    <th>Actions</th>
  </tr>

<% @batches.each do |batch| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= batch.batch_id %><%= " (#{batch.supplier_ref})" unless batch.supplier_ref.nil? %></td>
    <td><%=l batch.batch_date %></td>
    <td>
      <%= link_to 'Show', batch %>
      <%= link_to 'Edit', edit_batch_path(batch) %>
      <%= link_to 'Destroy', batch, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Batch', new_batch_path %>
