<h2><%= @batch.batch_id %></h2>

<% if @batch.supplier_ref %>
<p>
  <b>Supplier ref:</b>
  <%= @batch.supplier_ref %>
</p>
<% end %>

<p>
  <b>Batch date:</b>
  <%= @batch.batch_date %>
</p>

<p>
  <b>Associated Consumables:</b><br />
  <table>
    <tr>
      <th>Consumable Name</th>
      <th>Description</th>
      <th>Printers</th>
      <th>Price</th>
      <th>Remaining Stock</th>
    </tr>
  <% @batch.consumables.each do |consumable| %>
    <tr>
      <td><%= consumable.full_name %></td>
      <td><%= consumable.description %></td>
      <td><% consumable.printer_models.each do | printer | %>
        <%= printer.full_name %><br />
      <% end %></td>
      <td>£<%= consumable.batch_price.price.to_s %></td>
      <td>Coming eventually...</td>
    </tr>
  <% end %>
  </table>
</p>

<%= link_to 'Edit', edit_batch_path(@batch) %> |
<%= link_to 'Back', batches_path %>
