/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self 
*/

/*
* Colour variables
*/
$maincolour: #FFF;

$textcolour: #333;
/*$link: #54A7FF;*/

$evenrow: $maincolour;
$oddrow: darken($maincolour, 5%);

.page-wrapper {
  margin:8px;
}
.alerts {
  width:100%;
  margin:0px;
  text-align:center;
}

/* table rows */
table {
  margin:auto;
  width : 95%;

  .even {
    background-color: $evenrow;
  }
  .odd {
    background-color: $oddrow;
  }

  .grey-out {
    color:#999 !important;
    a {
      color:#999 !important;

      &:hover {
        color:#999 !important;
      }
      &:visited {
        color:#999 !important;
      }
    }
  }
  .green-out {
    background-color:rgba(41, 255, 48, 0.2) !important;
  }
  .red-out {
    background-color:rgba(255, 40, 40, 0.2) !important;
  }
}

#banner {
  #logo {
    display: block;
  	margin-left: auto;
    margin-right: auto
  }
}

#notice {
  color: #000 !important;
  border: 2px solid #8AFF5C;
  border-left:none;
  border-right:none;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #D7EDCE;
  font: bold smaller sans-serif;
}
#alert {
  color: #000 !important;
  border: 2px solid red;
  border-left:none;
  border-right:none;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#columns {
  background: white;
  #main {
    padding: 1em;
    background: white;
    .title {
  	  text-align: left;
  	  padding: 5px;
  	  margin-right: 20%;
  	  border-bottom: 2px solid #ddd;
    }
  }

  
}

.warn {
  color: lighten(red, 10);
  font-weight:bold;
}

.pending_orders {
  table {
    border:2px solid #ccc;
  }
}
.awaiting_orders {
  table {
    border:2px solid #ccc;
  }
}

.ver {
  font-style: italic;
  font-size: small;
}

@import "scaffolds";
@import "navigation";
@import "consumables";