// Place all the styles related to the Consumables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.printer-thumb {
  display:inline;
  float:left;
  margin:10px;
  padding:10px;
  text-align:center;
}

.selected {
  margin: 9px;
  background-color:#68E362;
  border-right:2px solid #207A1B;
  border-bottom:2px solid #207A1B;
}

p.bold {
  font-weight:bold;
}

p.manufacturer-title {
  clear:both;
}

.hidden {
  visibility:hidden;
  display:none;
}