/* styles for navigation */
    @mixin rounded-button($link-colour, $gradient-1, $gradient-2, $border-col, $shadow, $shadow-text, $radius: 8px) {
        margin:2px;
        a {
            text-decoration:none;
            font-weight:bold;
            color:$link-colour;
            font-size:16px;

            &:hover {
                color: lighten($link-colour, 20%);
            }

            &:visited {
                color:$link-colour;
            }
        }

        background-color: lighten($gradient-1, 20%);
        display:inline-block;

        border-radius: $radius;
        -moz-border-radius:$radius;
        -webkit-border-radius:$radius;

        box-shadow:inset 0px 1px 10px 0px $shadow;
        -moz-box-shadow:inset 0px 1px 10px 0px $shadow;
        -webkit-box-shadow:inset 0px 1px 10px 0px $shadow;

        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $gradient-1), color-stop(1, $gradient-2) );
        background:-moz-linear-gradient( center top, $gradient-1 5%, $gradient-2 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradient-1', endColorstr='$gradient-2');

        padding:5px 11px;

        text-shadow:1px 1px 0px $shadow-text;

      &:hover {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $gradient-2), color-stop(1, $gradient-1) );
        background:-moz-linear-gradient( center top, $gradient-2 5%, $gradient-1 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradient-2', endColorstr='$gradient-1');
        background-color:$gradient-2;
        text-decoration:none;
      }
      &:active {
        position:relative;
        top:1px;
        text-decoration:none;
      }   
    }

#menu {
    $button-link:#FAFAFA;
    $signout-link:#0F0F0F;

    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
 
    .button {
        $bg-gradient-1:#8ac403;
        $bg-gradient-2:#78a809;
        $border-colour:#74b807;
        $box-shadow:#a4e271;
        $text-shadow:#528009;


        @include rounded-button($button-link, $bg-gradient-1, $bg-gradient-2, $border-colour, $box-shadow, $text-shadow);
    }

    .important-button {
        $bg-gradient-1:#3d93f6;
        $bg-gradient-2:#1e62d0;
        $border-colour:#3381ed;
        $box-shadow:#97c4fe;
        $text-shadow:#1571cd;


        @include rounded-button($button-link, $bg-gradient-1, $bg-gradient-2, $border-colour, $box-shadow, $text-shadow);  
    }

    .login-links {
        float:right;
        margin-right:5px;
        display:inline-block;
        font-size: smaller;
        text-decoration:none;
        a {
            color: $signout-link;
            &:hover {
                color:  scale-color($signout-link, $lightness: 15%);
                text-decoration:underline;
            }
            &:visited {
                color: $signout-link;
            }
        }
    }

}
