<h1>Listing suppliers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>

<% @suppliers.each do |supplier| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= supplier.name %></td>
    <td><%= link_to 'Show', supplier %>
    <%= link_to 'Edit', edit_supplier_path(supplier) %>
    <%= link_to 'Destroy', supplier, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<p><%= will_paginate @suppliers %></p>
<%= link_to 'New Supplier', new_supplier_path %>