<%= render :partial => "shared/title" %>

<table>
  <tr>
    <th>Name</th>
    <th>Printer Models Defined</th>
    <th>Actions</th>
  </tr>

<% @manufacturers.each do |manufacturer| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= manufacturer.name %></td>
    <td><%= manufacturer.count_printer_models %></td>
    <td><%= link_to 'Show', manufacturer %>
    <%= link_to 'Edit', edit_manufacturer_path(manufacturer) %>
    <%= link_to 'Destroy', manufacturer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<p><%= will_paginate @manufacturers %></p>
<%= link_to 'New Manufacturer', new_manufacturer_path %>
