<tr class="<%= cycle("even", "odd") %>">
  <td><%= link_to consumable.batch.nil?, consumable.batch.batch_id %></td>
  <td><%= link_to consumable.full_name, edit_consumable_path(consumable.id) %></td>
  <td><%= consumable.description %></td>
  <td>
    <ul>
    <% consumable.printer_models.each do |printer| %>
    <li><%= printer.full_name %></li>
    <% end %>
    </ul>
  </td>
  <td><%= consumable.kind %></td>
  <td>£ <%= consumable.batch_price.price.to_s unless consumable.batch_price.nil? %></td>
  <td><%= consumable.batch_price.stock.to_s %></td>
  <td><%= link_to 'Delete', consumable, confirm: "Permanently delete #{consumable.full_name}?", method: :delete %></td>
</tr>