<%= form_for(@consumable) do |f| %>
  <% if @consumable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consumable.errors.count, "error") %> prohibited this consumable from being saved:</h2>
      <ul>
      <% @consumable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <% @price.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend>Consumable</legend>
    <% if @batches.empty? %>
      <p><%= link_to "Add the first batch before continuing", new_batch_path %></p>
    <% else %>
    <% if @consumable.batch_price.nil? %>
      <%= fields_for(@price) do | builder | %>
        <div class="field">
          <%= builder.label :batch, "Batch" %>
          <%= builder.collection_select :batch, @batches, :id, :batch_id, :prompt => "Please select..." %>
        </div>
      <% end %>
    <% else %>
      <%= fields_for(@price) do | builder | %>
        <div class="field">
          <%= builder.label :batch, "Batch" %>
          <%= builder.hidden_field :batch, "#{@consumable.batch_price.batch.id}" %>
          <b><%= @consumable.batch_price.batch.batch_id %></b>
        </div>
      <% end %>
    <% end %>
    <div class="field">
      <%= f.label :description %> e.g. "Black Toner"<br />
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label :supplier_id, "Supplier" %><br />
      <%= f.collection_select :supplier_id,
                              Supplier.all,
                              :id,
                              :name,
                              :prompt => "Select supplier..."
      %>
    </div>
    <div class="field">
      <%= f.label :reorder_no, "Supplier Reorder Number" %><br />
      <%= f.text_field :reorder_no %>
    </div>
    <div class="field">
      <%= f.label :kind, "Type" %><br />
      <%= f.select :kind,
                   Consumable::KINDS,
                   prompt: 'Select a type...',
                   :selected => @consumable.kind 
      %>
    </div>
    <%= fields_for(@price) do | builder | %>
    <div class="field">
      <%= builder.label :price, "Price (£)" %><br />
      <%= builder.text_field :price %>
    </div>
    <% end %><br />
    <fieldset>
      <legend>Compatible Printers</legend>
      <div class="field">
        <% for manufacturer in Manufacturer.all %>
          <% printer = manufacturer.printer_models %>
          <% if printer.empty? %>
            <p class="bold manufacturer-title">No <%= manufacturer.name %> printers: <%= link_to "Add one.", new_printer_model_path %></p>
          <% else %>
            <p class="bold manufacturer-title"><%= manufacturer.name %>:</p>
            <% printer.each do |p| %>
              <label class="selectable">
                <div class="printer-thumb">
                  <% if p.image.exists? then %>
                    <%= image_tag p.image.url(:thumb) %> <br />
                  <% else %>
                    <%= content_tag :p, "Add an image for this printer!" %>
                  <% end %>
                  <%= check_box_tag "consumable[printer_model_ids][]", p.id,
                                 @consumable.printer_models.include?(p), :class => "hidden"
                  %>
                  <p><%= p.full_name %></p>
                </div> 
              </label>
            <% end %>
          <% end %>
        <% end %>
      </div> 
    </fieldset><br />
    <%= fields_for(@price) do | builder | %>
      <div class="field">
        <%= builder.label :stock, "# In Stock" %><br />
        <%= builder.text_field :stock %>
      </div>
    <% end %><br />
    <div class="actions">
      <%= f.submit %>
    </div>
     <% end %>
  </fieldset>
<% end %>