<%= render :partial => "shared/title" %>

<table>
  <tr>
    <th>Batch</th>
    <th>Consumable<br />(Supplier/Reorder)</th>
    <th>Description</th>
    <th>Compatible Printers</th>
    <th>Type</th>
    <th>Price</th>
    <th>Current Stock</th>
    <th>Actions</th>
  </tr>
<%= render @consumables %>

</table>

<br />
<p><%= will_paginate @consumables %></p>
<%= link_to "#{image_tag('icons/page_new.gif', :alt => 'New Consumable')} New Consumable", new_consumable_path %>