<p>
  <b>Description:</b>
  <%= @consumable.description %>
</p>

<p>
  <b>Consumable:</b>
  <%= @consumable.full_name %>
</p>

<p>
  <b>Type:</b>
  <%= @consumable.kind %>
</p>


<%= link_to 'Edit', edit_consumable_path(@consumable) %> |
<%= link_to 'Back', consumables_path %>
