<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{Settings.about['app_full_name']} #{Settings.about['version']}" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
    <div class="page-wrapper">
      <% if admin_signed_in? %>
      <%= render :partial => 'shared/banner' %>
      <% end %>
    </div>
    <% if notice %>
      <div class="alerts">
        <p id="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if alert %>
      <div class="alerts">
        <p id="alert"><%= alert %></p>
      </div>
    <% end %>
    <div class="page-wrapper">
      <div id="columns">
        <% if admin_signed_in? %>
        <%= render :partial => 'shared/menu' %>
        <% end %>
      <div id="main">
        <%= yield %>
      </div>
        <%= render :partial => 'shared/devinfo' %>
    </div>
  </body>
</html>
