<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <title>Toner Management System</title>
    <style>
      #alert {
        color: #000 !important;
        border: 2px solid red;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #f0f0f0;
        font: bold smaller sans-serif;
      }
      #thanks {
        color: #000 !important;
        border: 2px solid #8AFF5C;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #D7EDCE;
        font: bold smaller sans-serif;
      }
      .ver {
        font-style: italic;
        font-size: small;
      }
      .logged-in {
        float:right;
        display:block;
      }
    </style>
  </head>
  <body>
    <% if admin_signed_in? %>
      <div class="logged-in">You are logged in as <%= current_admin.email %>: <%= link_to "Sign out", destroy_admin_session_path, :method => :delete %>.</div>
    <% end %>
    <% if alert %>
      <p id="alert"><%= alert %></p>
    <% end %>
    <% if flash[:result] %>
      <div id="thanks">
        <p>Your consumable request has been received and we'll be processing it shortly. </p>
        <p>Orders that are out of stock will be processed once the requested consumable has come back into stock.</p>
        <p><%= link_to "Order another consumable", root_url %></a></p>
      </div>
    <% else %>
    <div class="content-wrapper">
    <%= yield %>
    </div>
    <% end %>
    <%= render :partial => 'shared/devinfo' %>
    </body>
</html>